.root{
    -fx-font-size: 16pt;
}

.button{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-cursor: hand;
}


.titre {

    -fx-font: 30px Tahoma;
     -fx-text-fill: #006464;
        -fx-background-color: #DFB951;
        -fx-border-radius: 20;
        -fx-background-radius: 20;
        -fx-padding: 5;
        -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.hbox {
    -fx-spacing: 15;
}
